.article{

  display: flex;
  max-width: 412px;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: #fff;
  text-decoration: none;
  position: relative;
   transition: 0.5s;

}

.article:hover {
  cursor: url("./../../../src/images/pointers/pointer.svg"), pointer;
  background: #4f8ff0;
  color: #fff;
  
}

.article:hover h3 {
  color: #fff;
}

.article:hover p {
  color: #fff;
}

.article:hover svg path {
  fill: #fff;
  
}
