.articles{
&__service {
  display: flex;
  width: 412px;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: #fff;
  text-decoration: none;
  position: relative;
   transition: 0.5s;

}

&__service:hover {
  cursor: url("../pointer.svg"), pointer;
  background: #4f8ff0;
  color: #fff;
  
}

&__service:hover h3 {
  color: #fff;
}

&__service:hover p {
  color: #fff;
}

&__service:hover svg path {
  fill: #fff;
  stroke: #fff;
}
}