.button{

  border: none;
  background: #4f8ff0;
  padding: 16px 24px;
  width: auto;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.buttongray {
  margin-top: 32px;
  width: auto;
  height: auto;
  border: none;
  background: #e6e6e6;
  padding: 16px 24px;
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}