.button{
margin: 0 auto;
  margin-top: 48px;
  border: none;
  background: #4f8ff0;
  padding: 16px 24px;
  width: auto;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}