.contact-link{
  @include flex-row-aic;
  gap: 8px;
  color: #fff;
  transition: 0.3s;

  &__icon{
    width: 20px;
    height: 20px;
  }

  &__icon path{
    fill: $accent-color;
  }

  &:hover {
    color: $accent-color;
  }
}

@media (max-width: 530px) {
  .mail{
    display:none;
  }
}