.feedbacks{
  
  padding: 80px 0 80px;
     background-image: url("../../../src/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;

  &__head{
    display: flex;
    justify-content: space-between;
  }

&__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color:  #222;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 150%; 
text-transform: uppercase;
}

&__title::after{
  content: "";
  width: 50px;
height: 3px;
background: #4F8FF0;
display: block;
}

&__otzyv{
  
  margin-top: 61px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  
}

&__article{
  width: 648px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFF;
  padding: 32px;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}

&__btns{
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

}

.slash-feedbacks{
  color:#4F8FF0;
}

.avatar{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}



.otzyv-text{
  color: #222;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}


.firma{
color: #222;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 120%; 
}

.avtor{
color: var #222;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}



.firma-avtor{
  margin: auto 0;
}

.face-firma{
  display: flex;
  gap: 24px;
}

.ava-feedbacks{
 width: 80px;
height: 80px;
border-radius: 100px;
object-fit: cover;
object-position: center;
}

@media(max-width:1320px){
.feedbacks{
&__title{
  font-size: 24px;
}

  &__otzyv{
    width: 100%;
    overflow: scroll;
    padding: 10px;
  }
  &__article{
    min-width: 648px;
  }
}
}

@media(max-width:550px){
.feedbacks{
&__title{
  font-size: 20px;
}

  &__otzyv{
    width: 100%;
    overflow: scroll;
  }
  &__article{
    min-width: 340px;
  }

  &__btns{
    flex-direction: column;
    justify-content: center;
align-items: center;
gap: 16px; 
  }
}
}