.feedbacks{
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
     background-image: url("../../../src/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;

&__title{
  display: flex;
  justify-content: space-between;
  color:  #222;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 150%; 
text-transform: uppercase;
}

&__otzyv{
  margin: 0 auto;
  margin-top: 61px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

&__article{
  width: 648px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFF;
  padding: 32px;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}

&__btns{
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

}


.avatar{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}



.otzyv-text{
  color: #222;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}


.firma{
color: #222;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 120%; 
}

.avtor{
color: var #222;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}



.firma-avtor{
  margin: auto 0;
}

.face-firma{
  display: flex;
  gap: 24px;
}