.header {
  &__wrapper {
    @include flex-row-sb-aic;
  }

  &__top {
    padding: 16px 0;
    background: #010101;
  }

  &__contacts {
    @include flex-row-aic;
    gap: 24px;
  }

  &__callme {
    color: $accent-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  &__bottom {
    margin: 0 auto;
    padding: 16px 0;
    background: rgba(1, 1, 1, 0.76);
    position: absolute;
    width: 100%;
  }

  &__links {
    display: flex;
    gap: 32px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  &__link {
    transition: 0.5s;
  }

  &__link:hover {
    color: $accent-color;
  }

  &__text--p1 {
    color: $accent-color;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
  }

  &__text--p1:hover{
    cursor: pointer;
  } 

  &__text--p2 {
    color: #fff;
    margin-top: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
  }
}

@media (max-width:1100px) {
  .header{
    &__bottom{
      padding: 18px 0 19px;
    }

    &__links{
      display:none;
    }
  

  &__text--p1{
    font-size: 22px;
  }

  &__text--p2{
    font-size: 16px;
  }
}
}

