.workers {
  padding: 80px 0;

background: #F7F7F7;

  &__title {
    margin-top: 80px;
    color: $main-text-color;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
  }

  &__p {
    margin: 0 auto;
    margin-top: 24px;
    width: 920px;
    color: $main-text-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  &__cards{
    margin-top: 48px;
    display: flex;
    gap: 24px;
  }
}


.card-info{
  &__name{
    text-align: center;
    color: $main-text-color;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
margin-top: 24px;
  }

  &__p{
    color: $main-text-color;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 120%; 
text-transform: lowercase;
margin-top: 10px;
  }
}