* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #222;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top {
  padding: 16px 0;
  background: #010101;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__callme {
  color: #4F8FF0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header__bottom {
  margin: 0 auto;
  padding: 16px 0;
  background: rgba(1, 1, 1, 0.76);
  position: absolute;
  width: 100%;
}
.header__links {
  display: flex;
  gap: 32px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.header__link {
  transition: 0.5s;
}
.header__link:hover {
  color: #4F8FF0;
}
.header__text--p1 {
  color: #4F8FF0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.header__text--p1:hover {
  cursor: pointer;
}
.header__text--p2 {
  color: #fff;
  margin-top: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}

@media (max-width: 1100px) {
  .header__bottom {
    padding: 18px 0 19px;
  }
  .header__links {
    display: none;
  }
  .header__text--p1 {
    font-size: 22px;
  }
  .header__text--p2 {
    font-size: 16px;
  }
}
.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  transition: 0.3s;
}
.contact-link__icon {
  width: 20px;
  height: 20px;
}
.contact-link__icon path {
  fill: #4F8FF0;
}
.contact-link:hover {
  color: #4F8FF0;
}

@media (max-width: 530px) {
  .mail {
    display: none;
  }
}
.title {
  padding-top: 260px;
  padding-bottom: 36px;
  height: -moz-min-content;
  height: min-content;
  background-image: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(34, 34, 34, 0.64);
  margin: 0 auto;
}

.title__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 1090px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}

.span-title {
  color: #4f8ff0;
  font-family: Nunito Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.title__p {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.title__button {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.title-icn {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
  margin-top: auto;
}

.active {
  width: 4px;
  height: 40px;
  background: #4f8ff0;
  margin-top: auto;
}

.title__icons {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 192px;
}

.lines {
  display: flex;
  gap: 8px;
}

.slash {
  color: #e6e6e6;
  font-size: 30px;
}

.slider {
  display: flex;
  gap: 8px;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 24px;
  }
  .span-title {
    font-size: 50px;
  }
  .title__p {
    font-size: 18px;
  }
}
@media (max-width: 610px) {
  h1 {
    font-size: 18px;
  }
  .span-title {
    font-size: 30px;
  }
  .title__p {
    font-size: 16px;
  }
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}

.services {
  background: #f7f7f7;
  padding: 80px 0;
}

.service {
  display: flex;
  flex-direction: column;
}

.heading-title {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heading-title::after {
  content: "";
  background: #4f8ff0;
  width: 50px;
  height: 3px;
  display: block;
}

.heading-text {
  margin: 0 auto;
  margin-top: 24px;
  max-width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.articles {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 38px;
}
.articles__title {
  color: #222;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.articles__text {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.corner_lt {
  width: 35px;
  height: 35px;
  border-top: 1px solid white;
  border-left: 1px solid #fff;
  position: absolute;
  top: 20px;
  left: 32px;
}

.corner_rt {
  width: 35px;
  height: 35px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  top: 20px;
  right: 32px;
}

.corner_rb {
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  bottom: 20px;
  right: 32px;
}

.corner_lb {
  width: 35px;
  height: 35px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  bottom: 20px;
  left: 32px;
}

.servbutton {
  margin: 0 auto;
  margin-top: 48px;
}

@media (max-width: 1350px) {
  .heading-title {
    font-size: 24px;
  }
  .articles {
    grid-template-columns: repeat(2, 1fr);
    margin: 48px auto 0;
  }
}
@media (max-width: 870px) {
  .heading-title {
    font-size: 20px;
  }
  .heading-text {
    font-size: 14px;
  }
  .articles {
    display: flex;
    gap: 24px;
    overflow: scroll;
  }
}
.company {
  background: #fff;
  padding: 80px 0;
}
.company__about {
  margin-top: 24px;
}
.company__btns {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
}
.company__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.company__title::after {
  content: "";
  background: #4f8ff0;
  width: 50px;
  height: 3px;
  display: block;
  margin-top: 10px;
}

.imgbooks {
  width: 535px;
  height: 359px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.company-block {
  display: flex;
  gap: 64px;
}

.word-color {
  color: #4f8ff0;
}

.line--company {
  display: block;
  width: 50px;
  height: 3px;
  background: #4f8ff0;
  margin-left: 0px;
  margin-top: 10px;
}

@media (max-width: 1350px) {
  .imgbooks {
    display: none;
  }
  .company__title {
    font-size: 24px;
  }
}
@media (max-width: 510px) {
  .imgbooks {
    display: none;
  }
  .company__title {
    font-size: 20px;
  }
  .company__about {
    font-size: 16px;
    margin: 24px auto 0;
  }
  .company__btns {
    flex-direction: column;
    align-items: center;
  }
}
.workers {
  padding: 80px 0;
  background: #f7f7f7;
}
.workers__cards {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.workers__title {
  margin-top: 80px;
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.workers__title::after {
  content: "";
  background: #4f8ff0;
  width: 50px;
  height: 3px;
  display: block;
}
.workers__p {
  margin: 0 auto;
  margin-top: 24px;
  width: 920px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.card-info {
  padding: 24px 0;
}
.card-info__name {
  text-align: center;
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.card-info__p {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .workers__title {
    font-size: 24px;
  }
}
.button {
  border: none;
  background: #4f8ff0;
  padding: 16px 24px;
  width: auto;
  height: auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.buttongray {
  width: auto;
  height: auto;
  border: none;
  background: #e6e6e6;
  padding: 16px 24px;
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.article {
  display: flex;
  width: 412px;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: #fff;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.article:hover {
  cursor: url("../../../src/images/pointers/pointer.svg"), pointer;
  background: #4f8ff0;
  color: #fff;
}

.article:hover h3 {
  color: #fff;
}

.article:hover p {
  color: #fff;
}

.article:hover svg path {
  fill: #fff;
  stroke: #fff;
}

.workers__card {
  min-width: 312px;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  height: 414px;
  position: relative;
}
.workers__foto {
  display: block;
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: lightgray;
}
.workers__hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 83px 20px 84px;
  inset: 0 0 0 0;
  opacity: 0;
  background: #fff;
  transition: 0.5s;
}
.workers__hidden:hover {
  opacity: 1;
  cursor: url("../../../src/images/pointers/pointerblue.svg"), pointer;
}
.workers__name {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.workers__function {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 10px;
}
.workers__says {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 40px;
}
.workers__experience {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  margin-top: 40px;
}
.workers__corner-lt {
  width: 25px;
  height: 25px;
  border-left: 1px solid #4F8FF0;
  border-top: 1px solid #4F8FF0;
  position: absolute;
  top: 20px;
  left: 20px;
}
.workers__corner-rt {
  width: 25px;
  height: 25px;
  border-right: 1px solid #4F8FF0;
  border-top: 1px solid #4F8FF0;
  position: absolute;
  top: 20px;
  right: 20px;
}
.workers__corner-lb {
  width: 25px;
  height: 25px;
  border-left: 1px solid #4F8FF0;
  border-bottom: 1px solid #4F8FF0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.workers__corner-rb {
  width: 25px;
  height: 25px;
  border-right: 1px solid #4F8FF0;
  border-bottom: 1px solid #4F8FF0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 1320px) {
  .workers__cards {
    overflow: scroll;
  }
}
.feedbacks {
  display: flex;
  flex-direction: column;
  padding: 80px 0 80px;
  background-image: url("../../../src/images/background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.feedbacks__title {
  display: flex;
  justify-content: space-between;
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.feedbacks__otzyv {
  margin: 0 auto;
  margin-top: 61px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.feedbacks__article {
  width: 648px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFF;
  padding: 32px;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.feedbacks__btns {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.avatar {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.otzyv-text {
  color: #222;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.firma {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}

.avtor {
  color: var #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.firma-avtor {
  margin: auto 0;
}

.face-firma {
  display: flex;
  gap: 24px;
}

.helpful {
  padding: 80px 0;
}
.helpful__title {
  color: #222;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.helpful__title::after {
  content: "";
  background: #4f8ff0;
  width: 50px;
  height: 3px;
  display: block;
}
.helpful__text {
  color: #222;
  max-width: 920px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */